main {
  .page-title {
    padding: $standard-padding 0;
    border-bottom: solid $accent-color ($border-width /2);
  }

  .content {
    padding: $standard-padding 0;
  }

  .wwu-50-percent-right-column ul {
    margin-bottom: 8px;
  }
}

@include breakpoint($desktop) {
  main {
    margin-top: 0;
    padding-top: ($menu-padding * 4);
  }
}
