.western-header {
  margin-top: 0;
  position: relative;
  height: 60px;
  z-index: 2;
}

.site-header {
  position: relative;
  height: 280px;

  a {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .site-banner {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 0;
  }

  .site-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: transparentize($primary-color, .05);
    text-transform: capitalize;
    box-sizing: border-box;

    span {
      box-sizing: border-box;
      color: $primary-text-color;
    }
  }
}

@include breakpoint($desktop) {
  .western-header {
    background: transparentize(white, .15);
    height: $western-header-height;
    border-bottom: $border-width solid $blue;

    .center-content-width {
      position: relative;
    }
  }

  .site-header {
    width: 100vw;
    max-height: 300px;
    overflow: hidden;
    margin-top: -$western-header-height;

    .site-name {
      top: $western-header-height;
      left: 0;
      bottom: inherit;
      max-width: none;
      text-align: left;

      span {
        display: block;
        width: 100%;
        max-width: $max-width;
        margin: auto;
        padding-left: 260px;
      }
    }
  }
}
