#block-accordion-menu-1,
#block-accordion-menu-2 {
  display: inherit;
}

.front .toggle-interior-menu {
  display: none;
}

.toggle-interior-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 4px;
  top: 0;
  cursor: pointer;

  @include breakpoint ($desktop) {
    display: none;
  }

  p {
    font-size: 0;
    color: white;
  }

  &::after {
    display: block;
    content: '\11054';
    font-size: 3em;
    line-height: 50px;
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: -6px;
  }
}
