.main-nav .menu .menu__item {
  border-width: $border-width;
  padding: 0 !important;

  a {
    background: $dark-blue;
    color: $white;
    padding: $standard-padding;

    &:hover, &:focus {
      background: $light-green;
      color: $black;
    }
  }

  &.is-active-trail {
    a {
      background-color: $light-green;
      color: $black;
    }
  }
}

@include breakpoint($desktop) {
  .main-nav {
    padding: 0;
    position: relative;
    width: 100%;
    transform: translatey(-30%);
    margin-bottom: -100%;

    .menu {
      border: solid white;
      border-width: 0px ($border-width /2) 0px ($border-width /2);
      box-sizing: border-box;
      max-width: $max-width;
      margin: auto;
      @include flex-container;

      a {
        text-transform: capitalize;
        font-size: 1.1em;
      }

      .menu__item,
      .menu__item:last-child {
        border: solid white;
        border-width: $border-width ($border-width / 2);
        padding: $menu-padding;
        box-sizing: border-box;
      }
    }
  }
}
