.page-title {
  position: relative;
}

.wwu-50-50-wrapper {
  margin-bottom: $standard-padding * 2;

  @include breakpoint($desktop) {
    .wwu-50-percent-left-column {
      width: 30%;
      margin-right: -30%;
    }

    .wwu-50-percent-right-column {
      margin-left: 30%;
      width: 70%;
    }
  }
}

.front {
  .page-title {
    display: none;
  }
}
