/* Overview Menu */
$mobile-button-size: 130px;
$desktop-button-size: 160px;

.overview-menu {
  .menu {
    @include flex-container ($justification: space-around);
    padding: 0;
  }
  .menu__item {
    @include circle-button($mobile-button-size, $primary-color);
    list-style: none;
    margin-bottom: ($standard-padding * 2);

    @include breakpoint($desktop) {
      @include circle-button($desktop-button-size, $primary-color);
    }

    &::before {
      display: block;
      background-repeat: no-repeat;
      background-position: 50%;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: $transition-timing ease-in-out;
    }

    &:hover:before {
      transform: rotatey(-180deg);
    }

    a {
      @include circle-text($mobile-button-size);
      color: $primary-text-color;
      font-size: 0.8em;
      font-weight: 600;
      text-decoration: none;
      transform: translatey(-100%);
      background-color: transparentize($primary-color, .3);

      &:focus {
        outline: none;
        box-shadow: 0px 0px 0px $border-width $accent-color;
      }

      @include breakpoint($desktop) {
        @include circle-text($desktop-button-size);
        font-size: 1.1em;
      }
    }

    &.is-active-trail {
      background-color: $secondary-color;
      border-color: mix(white, $secondary-color, 10%);

      a {
        background-color: transparentize($secondary-color, .3);
        color: $secondary-text-color;

        &:hover, &:focus {
          color: $secondary-text-color;
        }
      }
    }

    &:nth-of-type(1):before {background-image: url('../images/icon-worker.png');}
    &:nth-of-type(2):before {background-image: url('../images/icon-recycle.png');}
    &:nth-of-type(3):before {background-image: url('../images/icon-fire.png');}
    &:nth-of-type(4):before {background-image: url('../images/icon-documents.png');}
    &:nth-of-type(5):before {background-image: url('../images/icon-flask.png');}
  }
}
