h2 {
  font-size: 22px;
  line-height: 1.2em;
  padding-bottom: 8px;
  border-bottom: $accent-color solid 1px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}
