table {
  margin: 1em 0;
}

th {
  background-color: $primary-color;
  color: $primary-text-color;
}

td {
  background: none;
}

tr.odd {
  background: mix($primary-color, $white, 5%);
  border-color: white;
}

tr.even {
  background: mix($primary-color, $white, 7%);
  border-color: white;
}
