.accordion .ui-accordion-header {
  border: solid $light-gray 1px;
  border-radius: 0;
  font-weight: bold;
  font-size: 18px;
  padding: $standard-padding / 2;
  background: transparent;
}

.accordion .ui-accordion-header .ui-accordion-header-icon {
  right: $standard-padding / 2;
  left: inherit;
}

.accordion .ui-accordion-content {
  border: none;
}
