.view-current-promotion {
  h2 {
    background: $primary-color;
    color: $primary-text-color;
    font-weight: normal;
    border: solid $border-width mix($white, $primary-color, 20%);
    margin: 0;
    padding: $standard-padding;
    text-align: center;
  }
}

.promotional-image {
  border: solid white ($border-width * 2);
}

.safety-project-badge {
  text-align: center;
}
