.quick-links {
  h2 {
    margin: 0;
    background-color: $primary-color;
    color: $primary-text-color;
    font-weight: normal;
    border: solid $border-width mix($white, $primary-color, 20%);
    padding: $standard-padding;
    text-align: center;
  }

  .menu__item {
    list-style-image: none;
    list-style: disc;
    padding: $standard-padding 0;
    color: $accent-color;
  }
}
