/* On smaller screens, list view is displayed */
.waste-matrix-table-view {
  display: none;
}

.waste-matrix-mobile-view {
  .views-row {
    background: mix($primary-color, $white, 7%);
    padding-bottom: $standard-padding;
    margin-bottom: $standard-padding;
    text-align: center;
  }

  .views-field-title {
    background-color: $primary-color;
    text-align: center;
    padding: $standard-padding;
  }

  h2 {
    margin: 0;
    color: $primary-text-color;
    border-bottom: none;
    padding-bottom: 0;
  }

  //view-content
  h3 {
    border-bottom: solid ($border-width / 2) $accent-color;
    padding: $standard-padding;
    text-align: center;
    font-size: 1.2em;
    width: 80%;
    margin: auto;
  }

  p {
    margin: 0;
    padding: $standard-padding;
  }

  ul {
    text-align: left;
    width: 60%;
    margin: $standard-padding auto;
  }

  li {
    margin-bottom: ($standard-padding / 2);
  }
}

/* On larger screens, table view is displayed */
@include breakpoint ($desktop) {
  .waste-matrix-table-view {
    display: inherit;
    margin-top: -18px;

    td.views-field-title {
      font-weight: 600;
    }
  }

  .waste-matrix-mobile-view {
    display: none;
  }
}
