@import 'compass';
@import 'zen';
@import 'breakpoint';

$box-sizing-polyfill-path: '/sites/all/themes/wwuzen/js/boxsizing.htc';

$zen-box-sizing: border-box;
$zen-auto-include-item-base: false;
$zen-auto-include-flow-item-base: false;
