body {
  background: $background-color;
  border: 0;
  color: $main-text-color;

  * {
    font-family: $sans-serif;
  }
}

main {
  background: #fff;
  margin-bottom: 0;
}

.center-content-width {
  max-width: $max-width;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: bold;
}

a {
  transition: ease $transition-timing;
  text-decoration: underline;
}
