@mixin circle-button ($size, $color) {
  display: block;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $color;
  border: solid mix($white, $color, 20%) $border-width;
}

@mixin circle-text($size) {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: $size;
  white-space: nowrap;
}
