/* Western Brand & Extended Colors */
$dark-blue: #003f87;
$blue: #007ac8;
$red: #cc2d30;
$yellow: #ffc61e;
$light-green: #bad80a;
$green: #006b3f;
$gray: #667986;
$light-gray: #eaedef;
$white: #ffffff;
$black: #262b2f;

/* Custom Theme Colors */
$background-color: #e9e9e9;
$primary-color: $dark-blue;
$secondary-color: $blue;
$accent-color: $light-green;
$main-text-color: $black;
$primary-text-color: $white; //text that appears on top of $primary-color
$secondary-text-color: $white; //text that appears on top of $secondary-color
$accent-text-color: $black; //text that appears on top of $accent-color
$heading-color: $black;
$link-color: $blue;
