@mixin flex-container(
  $direction: row,
  $wrap: wrap,
  $justification: space-between,
  $item-align: flex-start,
  $content-align: flex-start) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justification;
  align-items: $item-align;
  align-content: $content-align;
}
